body {
  background-image: url("image/background.jpg");
}
.drums {
  text-align: center;
  margin-top: 400px;
}
button {
  border: solid 2px black;
  color: white;
  font-family: 'Courier Prime', monospace;;
}
