body {
  background-image: url("image/background.jpg");
  background-size: cover;
}
.drums {
  text-align: center;
  margin-top: 650px;
}
button {
  border: solid 4px black;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 30px;
  font-family: "Courier Prime", monospace;
  width: 100px;
  height: 80px;
  padding-top: 5px;
  margin: 10px 8px 0px 8px;
}
.sound {
  font-size: 15px;
  color: #b69f43;
}

.active-button {
  border-color: orange;
  border-radius: 6px;
  box-shadow: inset 0px 0px 2px 2px #aaa, 2px 2px 4px 0px #eee;
  font-size: 35px;
  width: 110px;
  height: 95px;
  background-color: rgba(0, 0, 0, 0.9);
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 0;
}
